@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;font-size: 0;line-height: 1;}
.icon-hamburger{width: 18px;height: 21px;background-image: url('../images/icon-hamburger.svg');}
.icon-search{width: 16px;height: 16px;background-image: url('../images/icon-search.svg');}
.icon-account{width: 21px;height: 21px;background-image: url('../images/icon-account.svg');}
.icon-more{width: 3px;height: 18px;background-image: url('../images/icon-more.svg');}
.icon-bell{width: 18px;height: 22px;background-image: url('../images/icon-bell.svg');}
.icon-gear{width: 24px;height: 24px;background-image: url('../images/icon-gear.svg');}
.icon-x{width: 15px;height: 15px;background-image: url('../images/icon-x.svg');}
.icon-x-white{width: 15px;height: 15px;background-image: url('../images/icon-x-white.svg');}
.icon-x-gray{width: 15px;height: 15px;background-image: url('../images/icon-x-gray.svg');}
.icon-angle-left{width: 6px;height: 10px;background-image: url('../images/icon-angle-left.svg');}
.icon-angle-right{width: 6px;height: 10px;background-image: url('../images/icon-angle-right.svg');}
.icon-filter{width: 18px;height: 20px;background-image: url('../images/icon-filter.svg');}
.icon-hourglass{width: 16px;height: 23px;background-image: url('../images/icon-hourglass.svg');}
.icon-sort{width:18px; height:18px; background-image: url('../images/icon-sort.svg');}
.icon-addChannel{width:18px; height:18px; background-image: url('../images/gnb-icon-2.svg');}
.icon-addVideo{width:18px; height:18px; background-image: url('../images/gnb-icon-4.svg');}
.icon-notRecomendVideo{width:18px; height:18px; background-image: url('../images/gnb-icon-5.svg');}
.icon-notRecomendChannel{width:18px; height:18px; background-image: url('../images/gnb-icon-6.svg');}
.icon-heart-collect{width:18px; height:18px; background-image: url('../images/icon-heart-collet.svg');}
.icon-heart-remove{width:18px; height:18px; background-image: url('../images/icon-heart-remove.svg');}
.icon-member-free{width:30px; height:30px; background-image: url('../images/icon-member-free.svg');}
.icon-member-silver{width:30px; height:30px; background-image: url('../images/icon-member-silver.svg');}
.icon-member-diamond{width:30px; height:30px; background-image: url('../images/icon-member-diamond.svg');}
.icon-member-gold{width:30px; height:30px; background-image: url('../images/icon-member-gold.svg');}
.icon-check-circle{width:14px; height:14px; background-image: url('../images/icon-check-circle.svg');}
.icon-check{width:13px; height:9px; background-image: url('../images/icon-check.svg');}
.icon-info-circle{width:14px; height:14px; background-image: url('../images/icon-info-circle.svg');}
.icon-add{width:9px; height:9px; background-image: url('../images/icon-add.svg');}
.icon-registering-channel{width: 97px; height: 100px; background-image: url('../images/icon-registering-channel.gif');background-size: cover;}
.icon-complete-ai{width: 86px; height: 86px; background-image: url('../images/icon-complete-ai.gif');background-size: cover;}
.icon-memebership-banner-arrow{width: 57px; height: 14px; background-image: url('../images/icon-memebership-banner-arrow.svg');}
.icon-alarm-arrow{width: 10px; height: 6px; background-image: url('../images/icon-alarm-arrow.svg');}
.icon-question-mark{width: 12px; height:12px; background-image: url('../images/icon-question-mark.svg');}
.icon-paying{width: 200px; height: 100px; background-image: url('../images/icon-card.gif');background-size: cover;}


// 20220806
.icon-rank-1{width: 16px; height: 16px; background-image: url('../images/icon-rank-1.png');}
.icon-rank-2{width: 16px; height: 16px; background-image: url('../images/icon-rank-2.png');}
.icon-rank-3{width: 16px; height: 16px; background-image: url('../images/icon-rank-3.png');}
.icon-header-arrow{width: 19px; height: 19px; background-image: url('../images/icon-header-arrow.svg'); }
.icon-arrow-down-gray{width: 18px; height: 18px; background-image: url('../images/icon-arrow-down-gray.svg'); }
.icon-arrow-up-red{width: 18px; height: 18px; background-image: url('../images/icon-arrow-up-red.svg'); }
.icon-dash-gray{width: 18px; height: 18px; background-image: url('../images/icon-dash-gray.svg'); }
.icon-new{width: 18px; height: 18px; background-image: url('../images/icon-new.svg'); }
.icon-arrow-right-double{width: 8px; height: 8px; background-image: url('../images/icon-arrow-right-double.svg'); }

.bar{display: inline-block;width: 1px;height: 22px;background: #8c8c8c;}

.font-size-12px{font-size: 12px !important;}
.font-size-14px{font-size: 14px !important;}
.font-size-16px{font-size: 16px !important;}
.font-size-18px{font-size: 18px !important;}
.font-size-20px{font-size: 20px !important;}
.font-size-30px{font-size: 30px !important;}

.min-width-66px{min-width: 66px;}
.min-width-70px{min-width: 70px;}

.min-width-75px{min-width: 75px;}
.min-width-100px{min-width: 100px;}
.min-width-153px{min-width: 153px;}
.min-width-210px{min-width: 210px;}
.min-width-220px{min-width: 220px;}
.min-width-250px{min-width: 250px;}
.min-width-270px{min-width: 270px;}
.min-width-350px{min-width: 350px;}

.height-14px{height:14px}
.height-36px{height:36px;}
.min-height-36px{
    min-height:36px;
    @include media-breakpoint-down(md){
        min-height: auto;
    }
}
.height-500px{
    height: 500px;
    @include media-breakpoint-down(lg){
       height: auto;
    }
}

.height-540px{
    height: 540px;
    @include media-breakpoint-down(lg){
       height: auto;
    }
}

@include media-breakpoint-down(md){
    .mobile-mx-0{
        margin-left: 0 !important;margin-right: 0 !important;
        & > [class^=col]{padding-left: 0 !important;padding-right: 0 !important;}
    }
}


.cursor-pointer{cursor: pointer;}

input:focus{outline: none; box-shadow: none;}
.btn:focus, .btn:active:focus, .btn:active{
    outline: none!important; box-shadow: none!important;
}
[class^=btn-outline-]:active, [class^=btn-outline-]:active:focus, [class^=btn-outline-]{
    color: inherit;
    background-color: initial;
}
button,
.btn{
    i{vertical-align: middle;}
    img{vertical-align: text-bottom;}
}
@include media-breakpoint-down(md){
    .btn{font-size: 13px;}
}

.btn-lg{
    padding: 0.625rem 1rem;
}
.btn-sm{
    padding:4px 12px;
}
.line-height{
    line-height: 1.4!important;
}

textarea{resize: none!important;}

.bg-highlight{background: #e2eaff;}

.required{background-color: #fae6df !important;border-color: #ddcac4;}

.page-title{opacity: 0;position: absolute;left: -99999px;}

.title{
    display: flex;align-items: center;position: relative;font-size: 20px;font-weight: 500;line-height :24px;
    &::before{content: '';display: block;width: 5px;height: 5px;background: $danger;border-radius: 50%;position: absolute;left: -6px;top:-1px;}
    .bar{margin: 0 15px;transform: translateY(1px);}
    @include media-breakpoint-down(md){
        font-size: 16px;
        .bar{height: 17px;margin: 0 12px;}
    }
}

.btn-outline-danger{background-color: rgba(255, 0, 0, 0.05);}

.table-wrap{
    margin: 0 -4px;position: relative;max-height: 80vh;overflow-y: auto;
    // overflow-x: hidden;
    &.is-scrolled{
        .table.table-data{
            border-collapse: separate !important;
        }
    }
}
.table{
    position: relative;
    > thead > tr > th{white-space: nowrap;}
    th,
    td{
        [type=checkbox]{margin-top: -2px;}
    }
    > tfoot > tr > td{background: #f3f3f3;border-top: 2px solid $table-border-color;}
    @include media-breakpoint-down(md){
        th,
        td{font-size: 12px;padding: .75rem .3125rem;}
    }
    &.table-data{
        border-collapse: collapse !important;border-top: 0;
        > thead,
        > tbody{
            > tr{
                > th,
                > td{border-left: 2px solid #fff;border-right: 2px solid #fff;}
            }
        }
        > thead{
            > tr{
                > th{position: sticky;top: 0;background: #fff;}
            }
        }
        @include media-breakpoint-down(md){
            // table-layout: fixed;
        }
    }
}
.table-fixed{table-layout: fixed;}
.table-center{
    th,
    td{text-align: center;}
}

.form-datepicker{
    border: 0;border-bottom: 1px solid #141414;text-align: center;font-weight: 500;font-size: 16px;height: 46px; min-width: 220px;padding: 11px 20px;transition: color 0.3s;
    background: url('../images/icon-calendar.svg') no-repeat 100% 50%;
    &::placeholder{
        color:#141414;
    }
    &.hasDatepicker{
        border-color: $danger; background-image: url('../images/icon-calendar-red.svg');
    }

}

.ui-widget.ui-datepicker{
    padding: 1rem 14px;border-radius: 0;border-color: #e0e0e0 !important;border-radius: 10px;box-shadow: 0 1px 10px 0 rgba(119, 119, 119, 0.2);margin-top: 9px;
    .ui-widget-header{background: #fff;border: 0;}
    .ui-state-default{border: 0;}
    td span,
    td a{text-align: center;border-radius: 50px;display: block;width: 100%;height: 100%;background: none;padding: 0;}
    .ui-state-highlight{background: $light;color: #141414;}
    .ui-state-active{background: #ff6060;color: #fff !important;}
    .ui-datepicker-calendar{
        font-size: 12px;margin-bottom: 0;width: auto;
        > thead th{padding-bottom: 0;color: #8c8c8c;font-weight: 400; /* border-top: 1px solid #ececea;border-bottom: 1px solid #ececea; */}
        //> thead th.ui-datepicker-week-end:first-child,
        //> tbody td.ui-datepicker-week-end:first-child a{color: $danger;}
        > tbody tr:first-child a,
        > tbody tr:first-child span{margin-top: 8px;}
        > tbody tr td{padding: 0;
            a{width: 36px;height: 36px;display: flex;align-items: center;justify-content: center;}
        }
    }
    .ui-datepicker-prev{
        cursor: pointer;width: 20px;height: 20px;left: 2px;top: 6px;
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 20px;height: 20px;
            background: url('../images/calendar-prev.svg') no-repeat 50% 50%;
            position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
        &.ui-state-hover{background: inherit;border: 0;}
        &.ui.datepicker-prev-hover{right: 2px;top: 6px;}
    }
    .ui-datepicker-next{
        cursor: pointer;width: 20px;height: 20px;right: 2px;top: 6px;
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 20px;height: 20px;
            background: url('../images/calendar-next.svg') no-repeat 50% 50%;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
        &.ui-state-hover{background: inherit;border: 0;}
        &.ui-datepicker-next-hover{right: 2px;top: 6px;}
    }
    .ui-datepicker-title{margin: 0;padding-bottom: 5px;}
    select.ui-datepicker-month,
    select.ui-datepicker-year{width: auto;border: 0;font-size: 16px;}
    select.ui-datepicker-month{margin-right: 3px;}
    .ui-datepicker-day-range{
        background-color: rgba(255, 96, 96, 0.3);
        .ui-state-default{color: #fff;}
    }
    .startDay,
    .endDay{
        background-color: rgba(255, 96, 96, 0.3);
        .ui-state-default{background: #ff6060;color: #fff !important;}
    }
    .startDay{border-top-left-radius: 50%;border-bottom-left-radius: 50%;}
    .endDay{border-top-right-radius: 50%;border-bottom-right-radius: 50%;}
}

.form-datepicker-multi{
    &.hasDatepicker{
        & ~ .datepicker-group{display: block !important;}
    }
}
.datepicker-group{
    position: absolute;left: 0;top: 45px;z-index: 1;
    .ui-datepicker{width: 100% !important;}
    .ui-datepicker-group{padding: 1rem;}
    @include media-breakpoint-down(md){
        position: fixed;min-width: 0;left: 50%;top: 50%;transform: translate(-50%, -50%);
        .ui-datepicker-group{float: none;width: auto;}
        .ui-datepicker{
            max-height: 75vh;overflow-y: auto;overflow-x: hidden;margin-top: 0;
            .ui-datepicker-title{font-size: 15px;}
            .ui-datepicker-prev,
            .ui-datepicker-next{display: none;}
        }
    }
}

.custom-checkbox.without-label{
    padding-left: 0;min-height: 1rem;font-size: 0;
    .custom-control-input{width: 1rem;height: 1rem;}
    .custom-control-label::before{left: 0;}
    .custom-control-label::after{left: 0;}
}

.checkbox-inline{
    position: relative;cursor: pointer;padding-top: 0!important;min-height: 16px;line-height: 16px;padding-left: 25px;margin-bottom: 0;
    input{
        position: absolute;top: 0;bottom: 0;width: 16px;height: 16px;left: 0;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance:none;
        &:before{
            content: '';display: inline-block;width: 16px;height: 16px;background: #fff;position: absolute;border: 1px solid $input-border-color;transition: all .2s;
        }
        &:after{
            content: '';position: absolute;width: 16px;height: 16px;left: 0;right: 0;text-align:center;
        }
        &:checked:before{
            background: $primary;border-color: $primary;
        }
        &:checked:after{
            content: '\2713';color: #fff;
        }
    }
    &.without-label{padding-left: 16px;}
    &.radio input{
        &:before{
            border-radius: 50%;
        }
        &:after{
            width: 6px;height: 6px;border-radius: 50%;left: 5px;top: 5px;
        }
        &:checked:after{
            content: '';background: #fff;
        }
    }
}

textarea.form-control{resize: none;}

.pagination{
    margin-top: 50px;justify-content:center; width:100%;
    .page-link{
        width: 20px;height: 20px;padding: 0;display: flex;align-items: center;justify-content: center;border: 0;margin: 0 10px;
        &:hover{background: transparent;}
        &:focus{
            box-shadow: none;
        }
    }
    .active .page-link{background: transparent;color: $danger;}
    .icon-angle-left{width: 8px;height: 14px;transform: translateY(1px);}
    .icon-angle-right{width: 8px;height: 14px;transform: translateY(1px);}
    @include media-breakpoint-down(md){
        margin-top: 24px;
        .page-link{font-size: 12px;margin: 0 4px;}
    }
}
.popover{box-shadow: 0 1px 30px 0 rgba(119, 119, 119, 0.2);border: 0;border-radius: 36px;
    width: 400px;
    top: 215px!important;
    left: 10px!important;
    height: 650px;
    padding: 47px 0;
    background-color: #fff;
    z-index: 2;
}
.popover-header{
    font-size: 20px;font-weight: 700;line-height: 1.4;text-align: center;color: #141414 !important; width: 100%; position:relative;
    .close{
        position: absolute;
        right: -15px;
        top: -58px;
        opacity: 1;
    }

}
.popover-body{
    overflow-y: auto!important;
    height: 100%;
    padding:0 38px;
    .popover-content{
        overflow: auto;
    }
}

.modal-backdrop ~ .modal-backdrop{
    z-index: 1051;
    ~ .modal-backdrop{z-index: 1053;}
}
.modal[data-overlap=true]{
    z-index: 1052;
}
.modal-title{color:#141414;
    img{height: 38px;}
}
.modal{
    .modal-content{box-shadow: 0 1px 30px 0 rgba(119, 119, 119, 0.2);border: 0;border-radius: 36px;}
    .modal-close{position: absolute;right: -15px;top: -5px;line-height: 1;
        button{vertical-align: top;line-height: 1;}
    }
    .modal-body{padding: 40px 60px;}
    .modal-title{font-size: 20px;font-weight: 700;line-height: 1.4;text-align: center;margin-bottom: 1rem; color: #141414 !important;}
    &.modal-square{
        .modal-close{right: -30px; top: -3px;}
        .modal-content{border-radius: 0;border: 1px solid #141414;}
    }
    .modal-dialog-scrollable{
        overflow: visible;
        .modal-content{
            max-height: 80vh;
            overflow: visible;
            .modal-body{
                margin: 37px 0;
                padding: 10px 60px 0 60px;
            }
        }
    }

    &.modal-hits{
        .modal-dialog-scrollable{
            .modal-body{
                margin:10px 0 10px;
                padding:0 78px;
            }
        }
    }

    .form-control{
        &::placeholder{
            text-align: center;
        }
    }
    .title-style{
        font-size:20px;
    }
    @include media-breakpoint-down(md){
        .modal{padding-right: 0 !important;}
        .modal-title{font-size: 16px;}
        .modal-dialog{ margin: auto;}
        .modal-content{border-radius: 20px;}
        .modal-sm{_max-width: 240px}
        .modal-body{padding: 30px 24px;}
        &.modal-square{
            .modal-close{right: -20px;}
        }
        .modal-dialog-scrollable{
            .modal-content{
                .modal-body{
                    margin: 27px 0;
                    padding: 20px 24px 0 24px;
                }
            }
        }
        .title-style{
            font-size:18px;
        }
        .btn.min-width-350px{
            min-width: auto;
            width:100%;
        }
        .btn-dark.min-width-70px.delete{
            min-width: auto;
            width: 42px;
            padding-left:0;
            padding-right:0;
        }
    }
    @include media-breakpoint-down(sm){
        .modal-dialog{
            margin:8px auto;
            max-width: 86%!important;
        }
        .modal-dialog-scrollable{
            .modal-content{
                max-height: 80vh;
            }
        }
    }
}

.alert-text{font-size: 20px;font-weight: 500;
    @include media-breakpoint-down(md){
        font-size: 14px;
    }
}

.mCSB_scrollTools{width: 12px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width: 5px;border-radius: 6px;}
.mCSB_inside>.mCSB_container{margin-right: 20px;}

.dropdown {
	height: 46px;position: relative;cursor: pointer;width: 220px;white-space: nowrap;
    transition: border-color 0.2s;outline: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
            user-select: none;
    .dropdown-value {
        border-bottom: 1px solid #141414;text-align: center;font-weight: 500;font-size: 16px;
        height: 100%;position: absolute;left: 0;top: 0;bottom: 0;right: 0;padding: 11px 20px;transition: color 0.3s;
        &.filled{}
        &::before {
            content: '';display: block;position: absolute;top: calc(50% - 2px);right: 0;width: 0;height: 0;border-style: solid;border-width: 7px 4px 0 4px;border-color: #141414 transparent transparent transparent;transition: all .2s .1s;
        }
    }
    .dropdown-box{
        border-radius: 10px;background-color: #fff;padding: 1rem .5rem;opacity: 0;position: absolute;top: calc(100% + 8px);z-index: 1038;visibility: hidden;width: 100%;box-shadow: 0 1px 10px 0 rgba(119, 119, 119, 0.2);
        transition: opacity 0.3s, visibility 0.3s, top 0.2s, bottom 0.2s;
    }
    .dropdown-list {
        max-height: 150px;overflow-x: hidden;text-align: center;
        > div{
            & + div{margin-top: 4px;}
            a{display: block;font-size: 14px;}
            a:hover{color: $danger;text-decoration: none;}
        }
    }
    &.active{
        .dropdown-value{
            border-color: $danger;
            &::before{transform: rotate(180deg);border-color: $danger transparent transparent transparent;}
        }
        .dropdown-box {opacity: 1;visibility: visible;}
    }
    .dropdown-value:focus{
        border-color: $primary;color: $primary;outline: 0;
        &::before{border-color: $primary transparent transparent transparent;}
    }
}
@include media-breakpoint-down(md) {
    .dropdown{
        .dropdown-value{
        }
    }
}

.dataTables_length,
.dataTables_paginate{display: none;}

.keyword-wrap{
    max-height: 120px;
    overflow-y: auto;
    margin: -10px -7px;
    @include media-breakpoint-down(md){
        max-height: 95px;
    }
}
.keyword-list{
    position: relative;
    display: inline-flex;
}
.keyword{
    background: #efefef;padding: 5px 1rem 6px;border-radius: 30px;position: relative;margin: 10px 7px;display: inline-flex;
    a{color: #141414;font-size: 12px;text-decoration: none;}
    button{position: absolute;right: -8px;top: -8px;line-height: 1;font-size: 0;}
    .icon-x{width: 9px;height: 9px;vertical-align: top;}
    .icon-x-gray{width: 9px;height: 9px;vertical-align: top;}
    &.on{
        background: black !important;
        a, span{ color:$white !important;}
    }
    @include media-breakpoint-down(md){
        a{font-size: 12px;}
    }
}

.loading{
    border-radius: 50px;border: 3px solid rgba(0,0,0,0.15);display: inline-block;position: relative;width: 17px;height: 17px;vertical-align: middle;
    &::after{
        content: "";position: absolute;top: -3px;right: -3px;bottom: -3px;left: -3px;border-radius: 50px;border: 3px solid #0000;border-top-color: #797979;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

.modal-loading{

    .loading-text{font-size: 24px;font-weight: 700;margin: 1rem 0; margin-top: 47px;}
    .loading-timer{
        display: flex;align-items: center;
        span{font-weight: 500;}
    }
    .loading-desc{
        max-height: 48px; overflow: hidden; position: relative;
        ul{
            // animation: textAutoMovement 16s linear;
            max-height: 48px;
        }
    }
    // @keyframes textAutoMovement {
    //     to {
    //         transform: translateY(-100%);
    //       }
    // }
    @include media-breakpoint-down(md){
        .loading-text{font-size: 16px; margin-top: 30px; text-align: center;}
        .icon-hourglass{width: 10.7px;height: 14.8px;}
        .loading-desc{
            max-height: 50px;
            font-size: 12px;
            ul{
                max-height: 50px;
                li{width:100%;}
            }
        }
    }
}



.card{
    border-radius: 0;
}

.transition-none{transition: none;}

.ratio-progress-bar{
    padding: 10px 0 35px;
    .ui-slider{
        border: 0;background: transparent;height: 1px;
        .ui-slider-handle{width: 5px;height: 15px;margin-left: -2.5px;top:-6.5px;border-radius: 5px;border: 0 !important;background: $danger;}
        .ui-slider-range-min{background: $danger;left: 1px;top: 0;}
    }
    .bar-area{
        position: relative;
        .line{width: 100%;height: 1px;background: #141414;position: absolute;left: 0;top: calc(50% - 0.5px);}
        &::before,
        &::after{content: '';width: 1px;height: 5px;background: #141414;position: absolute;left: 0; top: calc(50% - 2.5px);}
        &::after{left: auto;right: 0;}
        p{
            position: absolute;top: 10px;display: inline-block;font-size: 12px;color: #141414;
            i{font-style: normal;}
            &.female{left: 0;transform: translateX(-50%);}
            &.male{right: 0;transform: translateX(50%);}
        }
    }
    .ui-state-focus{
        &:focus{
            outline: 0;
        }
    }
    .ratio{
        display: flex;position: absolute;left: 0; top: calc(50% - 1px);right: 0;transform: translateY(-50%);
        span{
            flex: 1;position: relative;
            &::before{
                content: '';display: inline-block;vertical-align: top;width: 5px;height: 5px;border-radius: 50%;background: $danger;position: absolute;right: 0;top: -2px;margin-right: -2.5px;
            }
            &:last-of-type{
                &::before{display: none;}
            }
            &.active,
            &.active ~ span{
                &::before{background: #141414;}
            }
        }
    }
}

.select-progress-bar{
    padding: 5px 0 28px;
    .bar-area{
        position: relative;
        .line{width: 100%;height: 1px;background: #141414;position: absolute;left: 0;top: 50%;}
        &::before,
        &::after{content: '';width: 1px;height: 5px;background: #141414;position: absolute;left: 0;top: 50%;margin-top: -2px;}
        &::after{left: auto;right: 0;}
    }
    .labels{
        display: flex;justify-content: space-around;
        .label{
            position: relative;
            a{
                padding: 5px;font-size: 0;line-height: 1;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);
                &::before{content: '';display: block;width: 5px;height: 5px;background: #141414;border-radius: 50%;}
                &.active{
                    &::before{background: $danger;}
                    span{color: $danger;font-weight: 700;}
                }
            }
            span{position: absolute;left: 50%;top: 19px;font-size: 12px;white-space: nowrap;transform: translateX(-50%);}
        }
    }
}


.form-group{
    line-height: 24px;
    margin-bottom:50px;
    .form-label{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
    }
    .join &{
        margin-bottom:0;
        padding-bottom:20px;
    }
    .certification-number{
        font-size: 16px;
        color:#8c8c8c;
        position: absolute;
        right: 10px;
        line-height: 24px;
        top:0.5rem;
        @include media-breakpoint-down(md){
            top:0.85rem;
        }
    }
}

.form-control{
    border:0;
    border-bottom: 1px solid #141414;
    padding:0.5rem 0;

    &:focus{
        outline: 0;
        border: 0;
        box-shadow: none;
        border-bottom:1px solid #141414;
    }
    &::placeholder{color:#8c8c8c;}
    &.has-validation{
        margin-bottom: 32px;
    }
    &.is-invalid{
        margin-bottom: 0;
        border-color: #141414;
        &:focus{
            border-color: #141414;
            box-shadow: none;
        }
    }
    &.form-control-basic{
        border: 1px solid #141414;padding-left: 1rem;padding-right: 1rem;
        &::placeholder{text-align: left;}
    }
}

.invalid-feedback{
    margin-top: 8px; font-size: 14px;
    .is-invalid &{
        margin-bottom:0;
        border-color: #141414;
        color:#141414;
    }
}

.custom-radio{
    padding-left:22px;
    .custom-control-label{
        font-size: 14px;
        line-height: 21px;
        &::before{
            width:14px;
            height:14px;
            top:4px;
            left:-22px;
        }
        &::after{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            top: 4px;
            border: 2px solid #fff;
            margin: 1px;
            left:-22px;
        }
    }
    @include media-breakpoint-down(md){
        padding-left: 20px;
        .custom-contorl-label{
            font-size: 14px;
            &::before{
                left:-20px;
            }
            &::after{
                left:-20px;
            }
        }
    }
}
.custom-checkbox{
    padding-left:24px;
    .custom-control-label{
        font-size: 14px;
        line-height: 14px;
        &::before{
            width:14px;
            height:14px;
            top:0.5px;
            left:-24px
        }
        &::after{
            width: 16px;
            height: 16px;
            top: 0px;
            left: -25.5px;
        }
        @include media-breakpoint-down(md){
            font-size: 14px;
            &::before{
                top:0.9px;
            }
        }
    }
}

.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color: transparent;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background: red 50%/50% 50% no-repeat;
}
.custom-control-input:focus~.custom-control-label::before{
    box-shadow: none;
}

.title-style{
    text-transform: uppercase;
    position:relative;
    font-weight: 900;
    font-size: 24px;
    height:34px;
    line-height: 33.6px;
    letter-spacing: -0.12px;
    width: auto;
    font-family: 'Roboto', sans-serif;
}

.my-tab{
    margin-left: 78px;margin-right: 78px;
    .nav-tabs{
        .nav-link{
            border: 0;border-bottom: 1px solid #141414;padding-top: 1rem;padding-bottom: 1rem;font-weight: 500;
            &.active{border-bottom: 2px solid $danger;color: $danger;padding-bottom: calc(1rem - 1px);}
        }
    }
    @include media-breakpoint-down(md){
        margin-left: 0;margin-right: 0;
    }
}