.channel-add-info{
    border-top: 1px solid #000;border-bottom: 1px solid #000;line-height: 1.4;display: flex;justify-content: space-between;padding: 20px 40px;
    small{font-size: 12px;}
    del{}
    strong{font-size: 20px;font-weight: 500;display: block;}
    .plan{
        strong{margin-bottom: 5px;}
    }
    .price{text-align: center;
        strong{margin-top: 5px;}
    }
}
.channel-add-desc{
    font-size: 14px;margin-top: 13px;
}