.channel-add-info{
    border-top: 1px solid #000;border-bottom: 1px solid #000;line-height: 1.4;display: flex;justify-content: space-between;padding: 20px 40px;
    small{font-size: 12px;}
    del{color: #c7c7c7;}
    strong{font-size: 20px;font-weight: 500;display: block;}
    .plan{
        strong{margin-bottom: 5px;}
    }
    .price{text-align: center;
        strong{margin-top: 5px;}
    }
    @include media-breakpoint-down(md){
        padding: 10px;
    }
}
.channel-add-desc{
    font-size: 14px;margin-top: 13px;
}

.discount{
    text-decoration: none;position: relative;padding-left: 10px;padding-right: 10px;color: #c7c7c7;
    &::before{content: '';display: block;width: 100%;height: 1px;background: #8c8c8c;position: absolute;left: 0;top: 50%;}
    &::after{content: '';display: block;width: 15px;height: 1px;background: #8c8c8c;position: absolute;right: 0;top: 50%;transform: rotate(-45deg) translate(-2px, 5px)}
}

.filter{
    margin-bottom: 37px;
    .filter-head{
        border-bottom: 1px solid #000;display: flex;align-items: center;padding-bottom: 10px;
        h3{font-weight: 500;font-size: 16px;}
    }
    .filter-body{border-bottom: 1px solid #8c8c8c;padding: 20px 0;}
    &.has-collapsed{
        margin-bottom: 25px;
        .filter-head{border-bottom:0;}
        a{text-decoration: none;}
    }

    @include media-breakpoint-down(lg){
        .condition{
            .dropdown{width: 100%;}
        }
        .recently{
            > .d-flex{margin-top: 20px;padding-top: 20px;border-top: 1px solid #8c8c8c;}
        }
        .filter-body{
            border-bottom:0;
        }
        // &.has-collapse{margin-bottom: 25px;}
    }
}

.chart{
    border-top: 1px solid #000;padding-top: 3.125rem;
    @include media-breakpoint-down(md){
        padding-top: 17px;
    }
}
.chart-legend{
    display: inline-flex;align-items: center;font-size: 14px;margin-bottom: 1rem;
    .dot{width: 5px;height: 5px;border-radius: 50%;margin-right: 7px;}
    @include media-breakpoint-down(md){
        font-size: 12px;
    }
}


.card{
    &.remove-channel{
        position:relative;
        padding:25px 37px 25px 30px;
        margin-bottom: 25px;
        button{
            position: absolute;
            top:10px;right: 10px; width:10px; height:10px;
            i{
                width:10px; height:10px;
                vertical-align: top;
            }
        }
        .channel-img{
            width:60px;
            height:60px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        .channel-name{
            font-size: 20px;
            font-weight: 500;
        }
        .subscriber{
            font-size: 14px;
        }
        @include media-breakpoint-down(md){
            padding:19px 37px 19px 30px;
            margin-bottom: 10px;
            .channel-img{
                width: 52px;
                height: 52px;
            }
            .channel-name{
                font-size: 18px;
            }
            .subscriber{
                font-size: 12px;
            }
        }
    }

    &.channel-list{
        padding:43px 60px;
        text-decoration: none;
        a{text-decoration: none;}
        @at-root .thumbnail{
            min-width: 320px;
            position: relative;
            padding-top: 56%;
            width: 100%;
            height: 0;
            img, iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .channel-img{
            border-radius: 50%;
            width: 60px; height: 60px; object-fit: cover; object-position: center;
        }
        .channel-name{
            font-size: 20px; font-weight: 500; margin-right: 10px; margin-left: 20px;
        }
        .channel-title{
            font-size: 20px; font-weight: 500;
        }
        .channel-desc{
            span{
                padding-right:30px;
                vertical-align: middle;
                word-break: break-all;
            }
        }

        &.hits{
            padding:43px 60px 0 60px;
        }
        &.video-list{
            padding:43px 30px 43px 60px;
        }
        @include media-breakpoint-down(lg){
            padding:30px 10px;
            &.hits{padding: 30px 10px 0 10px;}
            &.video-list{padding: 30px 10px;}
            .thumbnail{min-width: auto;}
            .channel-img{width: 42px; height:42px;}
            .channel-name{
                font-size: 16px;
                margin-right: 7px;
                margin-left: 10px;
            }
            .channel-subscriber{font-size: 12px;}
            .channel-title{
                font-size: 14px;
                white-space: initial;
            }
            .channel-desc{
                span{
                    line-height: 18px; font-size: 12px; letter-spacing: -0.6px;
                }
            }
        }
        @include media-breakpoint-down(md){
            .channel-desc{
                span{padding-right: 0;}
            }
        }
    }

    &.join{
        padding:72px 70px;
        width:500px;
        margin: auto;
        .certification-container{
            display: none;
        }
        @include media-breakpoint-down(md){
            width: 100%;
            padding:40px 20px;
            .btn{
                width: 100%;
            }
        }
    }
}

.sort{
    display: flex;
    align-items: center;
    margin-right:-11px;
    .bar{
        height:18px;
        background: #000;
    }
    li{
        a{
            display: flex;
            align-items: center;
            margin:0 11px;
            text-decoration: none;
        }
        &.active{
            a{
                color:$danger;
                i{
                    background-image: url('../images/icon-sort-active.svg');
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        margin-right: -6px;
        .bar{
            height:16px;
        }
        li{
            a{margin:0 6px;}
            i{width:16px; height:16px;}
        }
    }
}

.frequency-use{
    display: flex;
    align-items: center;
    .bar{
        height:14px;
        background: #000;
    }
    li{
        font-size: 14px;
        &:first-of-type{
            margin-left: 15px;
        }
        + li{
            &::before{
                content: ',';
            }
        }
    }
}

.keyword-wrap{
    max-height: 104px;
    overflow-y: auto;
    @include media-breakpoint-down(md){
        max-height: 95px;
    }
}

.collapse.show{
    &:not(.transition-none){
        @include media-breakpoint-down(md){
            border-bottom:1px solid #8c8c8c;
            padding-bottom: 28px;
        }
    }
    &.transition-none{
        @include media-breakpoint-down(md){
            .filter-body{
                padding-top:0!important;
            }
        }
    }
}


.hits-btn-container{
    margin:0 -60px;
    padding:20px;
    .hits-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;
        font-weight: 500;
        border-left:1px solid #000;
        i{margin-right: 12px; transition: all 0.35s ease;}
        &.on{
            .icon-addChannel{background-image: url('../images/icon-on-addChannel.svg');}
            .icon-addVideo{background-image: url('../images/icon-on-addVideo.svg');}
            .icon-notRecomendVideo{background-image: url('../images/icon-on-notRecomendVideo.svg');}
            .icon-notRecomendChannel{background-image: url('../images/icon-on-notRecomendChannel.svg');}
        }
    }
    @include media-breakpoint-down(lg){
        margin:0 -10px;
        padding:16px 0 12px 0;
        .hits-btn{
            font-size: 10px;
            border-left:1px solid $border-color;
            text-align: center;
            line-height: 1.3;
            i{width:16px; height:16px;}
        }
    }
    @include media-breakpoint-down(md){
        .hits-btn{
            i{margin-bottom:9px; margin-right:0;}
        }
    }
}

.list-sub-title{
    i{ margin-right: 2px;}
    span{font-size: 14px;}
    @include media-breakpoint-down(md){
        i{width:14px; height:14px; margin-right: 6px;}
        span{font-size: 12px; line-height: 18px;}
    }
}

.btn-list{
    height:36px;
    font-size: 14px;
    @include media-breakpoint-down(md){
        i{width:14px; height:14px;}
        font-size: 12px;
    }
}

#membership-more-content{
    .membership-contents{
        padding:36px 0;
        max-width: 200px;
        margin: auto;
        ul{
            li{
                font-size: 12px;
                height:30px;
                margin-top:5px;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            &.info{
                li{
                    justify-content: flex-start;
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        >.row-20{
            >[class^=col]{
                padding:0 4px;
            }
        }
        .membership-contents{
            padding:10px 0;
            min-width: auto;
            max-width: 100%;
            ul{
                li{
                    font-size: 10px;
                }
            }
        }
        .title-style{
            font-size:10px;
        }
    }
}

.membership-container{
    padding:60px 40px 100px 40px;
    .dropdown{
        white-space:inherit;
        height: auto;
        min-height: 46px;
        .dropdown-value{
            position:relative;
        }
        &.active{
            .dropdown-value{
                border-color: #000;
                &::before{
                    border-color: black transparent transparent transparent;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .faq.active{
        .dropdown-value{
            &::before{
                transform: rotate(180deg);
            }
        }
    }
    @include media-breakpoint-down(md){
        padding:40px 20px;
    }
}

.faq{
    padding:0 35px;
    .faq-content{
        padding:40px 20px;
    }
    .dropdown-value.collapsed{
        border:0;
    }
   
    & + .faq{
        margin-top:-1px;
    }
    &.active{
        border:1px solid #000;

        & + .faq{
            margin-top:0;
        }
    }
    @include media-breakpoint-down(md){
        padding:0 11px;
        font-size: 12px!important;
        .dropdown .dropdown-value{
            font-size: 12px;
            line-height: 18px;
            padding-left: 0;
        }
        .faq-content{
            padding:20px 0;
        }
        
    }
}

.membership-notice{
    li{
        line-height: 1.8;
    }
}


.mypage-container{
    padding:110px 0;
    .label{
        font-size: 20px;
        font-weight: bold;
    }
    .label-desc{
        font-size: 20px;
    }
    .bar{
        height: 18px;
        vertical-align: middle;
    }
    @include media-breakpoint-down(lg){
        padding: 30px 0;
        .label, .label-desc{
            font-size: 16px;
        }
    }
}


.membership-grade{
    position:relative;
    min-width: 75px;
    .membership-img{
        width:68px;
        height:68px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .membership-alram{
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        color:#fff;
        width:28px;
        height:28px;
        border-radius: 50%;
        background:$danger;
        border: 3px solid #fff;
        right:0;
        top:-10px;
        display: block;
        text-align: center;
    }
    
}


.membership-info{
    font-size: 20px;
    @include media-breakpoint-down(md){
        font-size: 14px;
    }
}


.hits-count{
    font-size:32px;
    font-weight: 500;
    min-height:48px;
    line-height: 48px;
    width: 100%;
    white-space: nowrap;
    text-overflow: initial;
    overflow: hidden;
}

// .slot-animation {  
// /*position: absolute;*/ 
// display: inline-block;
// animation: slot-machine 0.3s ease-in-out;
// vertical-align: middle;
// vertical-align: -webkit-baseline-middle;
// } 
// @keyframes slot-machine {
//     0% {
//         transform: translate(0, -100%) scale(1) skew(4deg, 3deg);
//     }
//     15% {
//         transform: translate(0, 100%) scale(1) skew(4deg, 3deg);
//     }
//     25% {
//         transform: translate(0, -50%) scale(1) skew(-4deg, -2deg);
//     }
//     50% {
//         transform: translate(0, -20%) scale(1) skew(1deg, 1deg);
//     }
//     75% {
//         transform: translate(0, 10%) scale(1) skew(-1deg, -1deg);
//     }
//     100% {
//         transform: translate(0, 0%) scale(1) skew(0deg, 0deg);
//     }
// }

@mixin typing-slot($name) {
    $typing-second : 0.2 * $name + 's';

    [data-count='typing-#{name}']{
        &.slot-animation {  
            /*position: absolute;*/ 
            display: inline-block;
            // animation: slot-machine 0.3s ease-in-out;
            animation: slot-machine #{typing-second} ease-in-out;
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;
            } 
            @keyframes slot-machine {
                0% {
                    transform: translate(0, -100%) scale(1) skew(4deg, 3deg);
                }
                15% {
                    transform: translate(0, 100%) scale(1) skew(4deg, 3deg);
                }
                25% {
                    transform: translate(0, -50%) scale(1) skew(-4deg, -2deg);
                }
                50% {
                    transform: translate(0, -20%) scale(1) skew(1deg, 1deg);
                }
                75% {
                    transform: translate(0, 10%) scale(1) skew(-1deg, -1deg);
                }
                100% {
                    transform: translate(0, 0%) scale(1) skew(0deg, 0deg);
                }
            }
    }
}

@include typing-slot()