<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="page-title">채널 판독기</h2>

                <form action="">
                    <fieldset>
                        <legend>검색</legend>
                        <div class="header-search d-lg-none">
                            <input type="text" class="form-control" placeholder="채널 URL을 입력해 주세요.">
                            <button type="button" class="btn-search" aria-label="검색">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>

                <div class="filter has-collapsed">
                    <div class="border-bottom border-dark row row-0 justify-content-between">
                        <div class="col-auto">
                            <a href="#collapse-channel" class="filter-head" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-channel">
                                <i class="icon-filter m-r-10"></i>
                                <h3>필터</h3>
                            </a>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <i class="icon-check-circle m-r-5"></i>
                                <span class="font-size-14px m-r-15">이용횟수</span>
                                <ul class="frequency-use">
                                    <i class="bar"></i>
                                    <li>13/30</li>
                                    <li>23/60</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapse show transition-none" id="collapse-channel">
                        <div class="filter-body channel">
                            <div class="row row-50 align-items-center justify-content-between">
                                <div class="col-xl col-12">
                                    <div class="row">
                                        <div class="col-12 col-xl-auto condition">
                                            <div class="row row-50">
                                                <div class="col-12 col-md mt-1 mt-md-0">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control form-datepicker form-datepicker-multi" readonly>
                                                        <div class="datepicker-group" style="display: none">
                                                            <!-- 시작일 td에 클래스 'startDay' -->
                                                            <!-- 종료일 td에 클래스 'endDay' -->
                                                            <!-- 시작일~종료일 선택 날짜 구간 td에 클래스 'ui-datepicker-day-range' 추가 -->
                                                            <div class="load"></div>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        $(document).ready(function(){
                                                            var $ingInput;
                                                            $('.form-datepicker-multi').on('click',function(e){
                                                                $ingInput = $(this);
                                                                $ingInput.addClass('hasDatepicker');
                                                            });
                                                            $(document).on('mouseup',function(e){
                                                                if ($ingInput.has(e.target).length === 0 && $('.datepicker-group').has(e.target).length === 0) {
                                                                    $ingInput.removeClass('hasDatepicker');
                                                                }
                                                            });
                                                            //datepicker
                                                            var datepickerLoad = {
                                                                init: function(){
                                                                    var numMonth;
                                                                    if($(window).width() < 992) {
                                                                        numMonth = 9
                                                                    }else{
                                                                        numMonth = 2
                                                                    }
                                                                    $('.datepicker-group .load').datepicker({
                                                                        showButtonPanel: false,
                                                                        numberOfMonths: numMonth,
                                                                        //minDate: toDate,
                                                                        //maxDate: "+0m",
                                                                        dateFormat: "yy-mm-dd",
                                                                        monthNames: [ "01","02","03","04","05","06","07","08","09","10","11","12" ],
                                                                        monthNamesShort: [ "1","2","3","4","5","6","7","8","9","10","11","12" ],
                                                                        dayNamesMin: [ "S", "M", "T", "W", "T", "F", "S"],
                                                                        //gotoCurrent: true,
                                                                        yearSuffix: ".",
                                                                        dateFormat: "y.mm.dd D",
                                                                        showMonthAfterYear: true,
                                                                        isRTL: false
                                                                    });
                                                                }
                                                            }
                                                            datepickerLoad.init();
                                                        });
                                                    </script>
                                                </div>
                                                

                                                <div class="col-12 col-md mt-1 mt-md-0">
                                                    <div class="dropdown">
                                                        <div class="dropdown-value">일별 검색 이력</div>
                                                        <div class="dropdown-box">
                                                            <div class="dropdown-list">
                                                                @@for (var i = 1; i < 10; i++) {
                                                                <div><a href="javascript:;">2022.03.0`+i+`</a></div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-auto col-12">
                                    <div class="row row-10 justify-content-end">
                                        <div class="col-lg-auto mt-6 mt-lg-3 mt-xl-0">
                                            <button type="button" class="btn btn-dark min-width-153px btn-block 
                                            analyze-btn">분석 시작</button>
                                        </div>
                                        <div class="col-auto  mt-6 mt-lg-3 mt-xl-0  d-none d-lg-block">
                                            <a href="" class="btn btn-outline-dark">엑셀 다운로드</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row row-10 m-b-30">
                <div class="col-lg-auto pt-lg-3">
                    <a href="#channel-list-keyword" class="text-underline min-width-75px font-size-16px font-weight-medium" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="channel-list-keyword">
                        등록된 채널
                    </a>
                </div>
                <div class="col-lg">
                    <div class="collapse show" id="channel-list-keyword">
                        <div class="keyword-wrap m-t-10 mt-lg-0">
                            @@for (var i = 1; i < 5; i++) {
                            <div class="keyword">
                                <a href="#none">입짧은 햇님</a>
                                <button type="text" aria-label="삭제"><i class="icon-x"></i></button>
                            </div>
                            <div class="keyword">
                                <a href="#none">보통사람들을 위한 운동채널</a>
                                <button type="text" aria-label="삭제"><i class="icon-x"></i></button>
                            </div>
                            <div class="keyword">
                                <a href="#none">헬창극장</a>
                                <button type="text" aria-label="삭제"><i class="icon-x"></i></button>
                            </div>
                            <div class="keyword">
                                <a href="#none">3분 돈꿀팁</a>
                                <button type="text" aria-label="삭제"><i class="icon-x"></i></button>
                            </div>
                            <div class="keyword">
                                <a href="#none">찐부자</a>
                                <button type="text" aria-label="삭제"><i class="icon-x"></i></button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                </div>

                <div class="d-flex justify-content-end">
                    <ul class="sort">
                        <li class="active"><a href="">최신순 <i class="icon-sort"></i></a></i></li>
                        <i class="bar"></i>
                        <li><a href="">인기순 <i class="icon-sort"></i></a></li>
                    </ul>
                </div>
                @@for (var i = 1; i < 10; i++) {
                <a href="" class="card channel-list mt-3 mt-lg-4 w-100">
                    <div class="row row-60">
                        <div class="col-xl-auto">
                            <div class="thumbnail">
                                <img src="https://img.youtube.com/vi/oClFVDs3b74/mqdefault.jpg" alt="동영상 이미지">
                                <!-- <iframe src="https://www.youtube.com/embed/PX1oAtwlSzk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                            </div>
                        </div>
                        <div class="col-xl mt-3 mt-xl-0">
                            <div class="d-flex align-items-center">
                                <img src="../assets/images/@profile.jpg" alt="채널이미지" class="channel-img">
                                <div class="channel-name">신사임당</div>
                                <div class="channel-subscriber">구독자 174만명</div>
                            </div>
                            <div class="channel-title m-t-10 mt-lg-3 text-truncate">주식 초보가 담아도 큰 실패 없는 종목 (정재호 3부, 부자아빠)주식</div>
                            <div class="channel-desc m-t-10 mt-lg-3">
                                <ul>
                                    <li class="mb-2">
                                        <div class="row row-0 align-items-center">
                                            <div class="col-5 col-lg-auto m-t-5 mt-lg-0"><span>|&emsp;조회수 : 234회</span></div>
                                            <div class="col-7 col-lg-auto m-t-5 mt-lg-0"><span>|&emsp;채널 평균 조회수 : 5만회</span></div>
                                            <div class="col-5 col-lg-auto m-t-5 mt-lg-0"><span>|&emsp;성과도 : 10% </span></div>
                                            <div class="col-7 col-lg-auto m-t-5 mt-lg-0"><span>|&emsp;게시일 : 2022.03.23</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <span>|&emsp;영상설명 : *출연신청 & 제휴 및 광고문의 : ssid@dpnstud.io</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
                }

                @@include('@@webRoot/_include/_pagination.html')

                <!-- 컨텐츠 끝 -->

            </main>
        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>
        $(document).ready(function () {
            $(".sort li").on("click", function () {
                $(this).toggleClass("active");
                if ($(this).hasClass("active")) {
                    $(".sort li").not(this).removeClass("active");
                }
            });

            $(".analyze-btn").on("click", function(){
                $(this).attr("class","btn btn-outline-danger min-width-153px btn-block");
            });

            $(".modal-loading").modal("show");

            var noticeRollingBanner = new Swiper(".loading-desc .swiper-container", {
            // spaceBetween: 30,
            slidesPerView: 2,
            grid:{
                rows:2,
            },
            autoplay: {
                delay: 1000,
            },
            loop: true,
            direction: "vertical",
            });
        })

        
    </script>

</body>

</html>